.table.table-align-middle > thead > tr > td,
.table.table-align-middle > thead > tr > th,
.table.table-align-middle > tbody > tr > td,
.table.table-align-middle > tbody > tr > th {
	vertical-align: middle;
}
